* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 1200px;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  .example {
    display: flex;
    justify-content: space-around;
    
    width: 800px;
    margin: 50px 0;
    background-color: #D6E9FE;
  }
  
  .item img {
    display: block;
  }

  /* “Relative positioning” moves elements around relative to where they would normally appear in the static flow of the page. */
  .item-relative {
    position: relative;
    top: 30px;
    left: 30px;
  }

  /* “Absolute positioning” is just like relative positioning, but the offset is relative to the entire browser window instead of the original position of the element. */
  .item-absolute {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  /* "Fixed positioning" doesn't scroll with the page. */

  .item-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
  }